@media print{
    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }

    .containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .skill{
        display: inline-block;
         }

    .containers .box{
        border-radius: 30px;
        width: 200px;
    }
    .qrcode{
        display: block;
        position: absolute;
        width: 90px;
        bottom: 20px;
        right: 20px;
    }
}