@media screen and (min-width: 700px) and (max-width: 90000px) {
    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 800px) and (max-width: 90000px) {
    .containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* .skill{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column; 
         }*/

    .containers .box{
        border-radius: 30px;
        width: 200px;

    }
    
    .computeur{
        display: flex;
        position: absolute;
        z-index: -1;
        opacity: 7%;
        width: 60%;
        margin: 315px 20%;
    }    
}